#milestone {
    width: 100%;
    height: 100%;

    position: relative;

    overflow: hidden;

    .milestone-title {

        height: 70px;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        h1 {
            margin: 20px 26px;
            font-size: 28px;
        }

        h4 {
            margin: 26px 10px;
            font-size: 18px;
        }
    }

    .milestone-content {
        width: 100%;
        height: 100%;

        padding-top: 70px;

        .users-pane {
            padding: 15px;

            ul {
                width: 100%;
                max-width: 500px;
                list-style: none;
                margin: auto;
                padding: 0;

                li {
                    display: inline-block;
                    padding: 8px;

                    background-color: $white;
                }
            }

        }

        .progress-pane {

            padding: 15px;

            .status-chooser {
                width: 100%;

                ul {
                    width: 100%;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    text-align: center;

                    li {
                        display: inline-block;
                        margin-right: 10px;

                        button {
                            width: 130px;
                        }
                    }
                }
            }

            ul.user-list {
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                }
            }
        }

        .chat-pane {
            position: relative;

            .chat-input {
                height: 46px;

                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

                .input-wrapper {
                    width: 100%;
                    padding-right: 100px;

                    input {
                        border-radius: 0;
                    }
                }

                button {
                    width: 100px;
                    height: 46px;

                    position: absolute;
                    top: 0;
                    right: 0;

                    border-radius: 0;

                    color: $white;
                    background-color: $emerald;
                }
            }

            .chat-box {
                width: 100%;
                height: 100%;

                padding: 8px;
                padding-bottom: 54px;

                overflow: hidden;

                .chat-stream {
                    width: 100%;
                    max-width: 500px;
                    height: 100%;

                    margin: auto;

                    padding: 0 5px;

                    overflow-y: auto;
                    overflow-x: hidden;

                    .chat {
                        // width: 100%;
                        padding: 10px;
                        margin-bottom: 8px;
                        position: relative;

                        background-color: $white;

                        h1 {
                            color: $concrete;
                            font-size: $font-size-base * 0.6;
                            margin: 0;
                            margin-bottom: 6px;
                        }

                        p {
                            margin: 0;

                            a {
                                color: $peter-river;
                            }
                        }

                        button {
                            min-width: 0px;
                            width: 32px;
                            height: 100%;

                            padding: 0px;
                            border-radius: 0px;

                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;

                            &:hover {
                                background-color: $clouds;
                            }

                            &[disabled] {
                                color: $silver;
                                background-color: $asbestos;

                                &:hover {
                                    background-color: $asbestos;
                                }
                            }
                        }
                    }
                }
            }

        }
        
    }

}