/* Colors */
$black: #121212;
$white: #eeeeee;
$gray: #A2A2A2;
$gray-dark: #5D5D5D;
$blue: #11609F;

/* Site measurements */
$font-size-base: 22px;

$bottom-frame-height: 300px;
$side-frame-width: 300px;