#writeAnswerFrame {
	display: table;

	padding: 10px;

	#formTextElements {
		display: table-cell;

		input[type=text] {
			margin-bottom: 8px;
		}

		textarea {
			height: 100%;
		}

	}

	#formButtons {
		// display: table-cell;
		width: 120px;

		text-align: center;
	}
}