<div id="writeAnswerFrame" class="fill-space">
	<div id="formTextElements">
		<div class="table fill-space">
			<div class="table-row-0">
				<input type="text" ng-model="answerer" placeholder="Username" />
			</div>
			<div class="table-row">
				<textarea placeholder="Answer here..." ng-model="answer"></textarea>
			</div>
			<div id="formButtons" class="table-row-0">
				<button class="blue" ng-click="addAnswer()">Answer</button>
				<button ng-click="cancelAddAnswer()">Cancel</button>
			</div>
		</div>
	</div>
</div>