<div id="askQuestionFrame" class="fill-space">
	<div id="formTextElements">
		<div class="table fill-space">
			<div class="table-row-0">
				<input type="text" ng-model="questionTitle" placeholder="Title" />
			</div>
			<div class="table-row">
				<textarea placeholder="Question details..." ng-model="questionDetails"></textarea>
			</div>
			<div id="formButtons" class="table-row-0">
				<button class="blue" ng-click="addQuestion()">Ask</button>
				<button>Cancel</button>
			</div>
		</div>
	</div>


</div>



