<div id="milestone">
    <div class="details-frame">
        <div class="details-content fill-space dz-table">
            <div class="table-row-0">
                <h1 class="milestone-title">{{ milestone.title }}</h1>
            </div>
            <div class="table-row">
                <dz-tabs>
                    <dz-tab-pane title="Summary">
                        <p>{{ milestone.description }}</p>
                    </dz-tab-pane>
                    <dz-tab-pane title="User Progress">
                        <div ng-show="authData.loggedIn">
                        <p>I'm ... </p>
                            <select ng-model="userStatusObj.userStatus" ng-options="value for value in statusNames" ng-change="updateStatus()">
                                <option value="">&gt;-- choose status --&lt;</option>
                            </select>
                        </div>
                        <ul>
                            <li ng-repeat="(name, user) in milestone.users">
                            {{name}} <span class="ra-icon-user2 {{user.status}}" title="{{ user.status }}"></span>

                            <span class="{{user.status}}">{{ user.status }}</span> 
                            </li>
                        </ul>
                    </dz-tab-pane>
                </dz-tabs>
            </div>
        </div>
    </div>

    <div class="chat-frame">
        <div class="chat-box">
            <div class="chat-stream">
                <div class="chat" ng-repeat="(id, chat) in milestone.chat_stream">
                    <h1><em>{{ chat.user }}</em></h1>
                    <p>{{ chat.msg }}</p>
                </div>
            </div>

            <div class="chat-input">
                <div class="input-wrapper">
                    <input type="text" ng-model="message" ng-enter="sendChat()" />
                </div>
                <button ng-click="sendChat()">Send</button>
            </div>
        </div>
    </div>
</div>

