<div id="topFrameWrapper" ui-view></div>
<div id="bottomFrameWrapper">
<div ng-controller="ProjectTimelineCtrl">
	<h1>{{projectName}}</h1>

<div id="timeline">
		<hr id= "the-line" width="100%" />

	<div class="milestone">
		<p class="milestone-text">Milestone 1: Something</p>
		<span class="user red"><i class=".ra-icon-user:before"></i></span>
		<span class="user red"><i class=".ra-icon-user:before"></i></span>
		<span class="user red"><i class=".ra-icon-user:before"></i></span>

	</div>


	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>
	<div class="milestone"><p class="milestone-text">Milestone 1: Something</p></div>


</div>
</div>
</div>