<div id="topFrameWrapper" ui-view ng-class="{expanded: pageState.expanded}"></div>
<div id="bottomFrameWrapper" ng-class="{expanded: pageState.expanded}">
	<div id="projectTimeline">
		<div class="project-title" ng-hide="pageState.expanded">
			<h1>{{ project.title }}</h1>
		</div>

		<div class="project-toolbar">
			<ul>
				<li><button ng-click="showMilestoneInput = true" ng-hide="showMilestoneInput"><span>Add Milestone</span> <i class="ra-icon-plus"></i></button></li>
				<li><input ng-show="showMilestoneInput" type="text" placeholder="Milestone title..." ng-model="milestoneTitle" ng-enter="addMilestone()" /></li>
			</ul>
		</div>

		<div class="project-timeline">

			<ul>
				<li class="milestone" ng-repeat="(id, m) in project.milestones">
					<a ui-sref="project.open.milestone({milestoneId: id})">
						<div class="milestone-title">{{ m.title }}</div>
						<div class="dots" ng-hide="$last">
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>